<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>CIS550 Project</title>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="script.js"></script>
</head>
<body>
<div>
<div>
<nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">

    <h3>CIS550 Project</h3>
           <ul class="nav navbar-nav">
      <!-- <li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li> -->
      <li><
      <li><a href="/about">About us</a></li>
      <!-- <li><a href="/contact">Contact us</a></li> -->
    </ul>
</nav>
</div>
<br/>
<div class="jumbotron"> 
  <div class="row" style="padding-left: 400px">
   <div style="padding-bottom: 20px">

	<form class="form-inline">
  <div class="form-group">
    <label class="sr-only" for="exampleInputEmail3">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label class="sr-only" for="exampleInputPassword3">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password">
  </div>
	<button type="submit" class="btn btn-primary">Sign in</button>
	</form>
	</div>
  </div>
  
  <div class="row" style="padding-left: 400px">
	<form class="form-inline" action="...", method="post", enctype="multipart/form-data">
	<div class="form-group">
      <input type="file", name="displayImage">
  </div>
      <button type="submit" class="btn btn-primary">Submit</button>
	</form>
  </div>

</div>
</div>
</body>
</html>